.navigation-bar {
    background-color: white;
    width: 98vw;
    height: 80px;
    color: white; 
    padding: 15px;
    box-sizing: border-box; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

li {
    float: left; 
}

li a {
    display: block; 
    color: black; 
    text-align: center; 
    padding: 15px 18px;
    text-decoration: none; 
}

li a:hover {
    background-color: orange;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 5vw;
}

.product-item {
    flex: 1;
    min-width: 20vw;
    max-width: 20vw;
    height: 260px;
    margin-top: 5vh;
    margin-left: 2vw;
}

.product-text {
    width: 100%;
    margin-left: 5vw;
    font-size:x-large;
}

.pa {
    background-image: url('../images/sports-wear-store-product-img-004-400x400.jpg');
    background-size: cover;
    background-position: center;  
}

.pb {
    background-image: url('../images/sports-wear-store-product-img2-006-400x400.jpg');
    background-size: cover;
    background-position: center;  
}

.pc {
    background-image: url('../images/sports-wear-store-product-img3-005-400x400.jpg');
    background-size: cover;
    background-position: center;  
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

.foot-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    background-color: rgb(20, 18, 26);
}

.form-item {
    flex: 1;
    min-width: calc(98% - 5px);
    max-width: calc(98% - 5px);
    height: 400px;
    background-color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 150%;
}

.foot-item {
    flex: 1;
    width: 100vw;
    height: 500px;
    color: white;
    margin-top: 100px;
    margin-left: 300px;
}